.bottom-about{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 15px;
}

.icon{
    color: black;
    background-color: white;
    padding: 25px;
    border-radius: 10px;

}

.about-card{
    background-color: aqua;
}

.about-card:hover{
    background-color: white;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

.about-card:hover .icon{
    color: white;
    background-color: aqua;
}